// 버튼 관련 변수
.btn_normal {
  border-radius: 6px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #03c75a;
  padding: 17px 0 15px;
  .btn_text {
    color: #fff;
    line-height: 26px;
    font-size: 22px;
    font-weight: 700;
  }
}
.ripple {
}

.swiper_direction_wrapper {
  .swiper_btn_prev {
    background: url('~@/assets/icon/ico-prev.png') no-repeat;
  }
  .swiper_btn_next{
    background: url('~@/assets/icon/ico-prev.png')  no-repeat;
    transform: scaleX(-1);
  }
}
.btn_prev {
  background: url('~@/assets/icon/ico-prev.png') no-repeat;
  border: none;
}
.btn_next {
  //background: url("") no-repeat;
}
.btn_search {
  background: url('~@/assets/icon/ico-search.png') no-repeat;
  border: none;
}
.btn_all_menu {
  background: url('~@/assets/icon/ico-all-menu.png') no-repeat;
  border: none;
  padding: 30px;
}
.my_page_1{
  background: url('~@/assets/icon/ico_mypage01_m.png') no-repeat;
}
.my_page_2{
  background: url('~@/assets/icon/ico_mypage02_m.png') no-repeat;
}
.my_page_3{
  background: url('~@/assets/icon/ico_mypage03_m.png') no-repeat;
}
.my_page_4{
  background: url('~@/assets/icon/ico_mypage04_m.png') no-repeat;
}
.my_page_5{
  background: url('~@/assets/icon/ico_mypage05_m.png') no-repeat;
}
.my_page_6{
  background: url('/src/assets/icon/ico_mypage06_m.png') no-repeat;
}
.my_page_7{
  background: url('/src/assets/icon/ico_mypage07_m.png') no-repeat;
}
.my_page_8{
  background: url('/src/assets/icon/ico_mypage08_m.png') no-repeat;
}
// … 버튼 관련 include
// - 믹스인
// - 플레이스홀더
// - 함수

/**
* 버튼
*/
