// 버튼 관련 변수
.btn_normal {
  border-radius: 6px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #03c75a;
  padding: 17px 0 15px;
  .btn_text {
    color: #fff;
    line-height: 26px;
    font-size: 22px;
    font-weight: 700;
  }
}
.ripple {
}

.swiper_direction_wrapper {
  .swiper_btn_prev {
    background: url("/src/assets/icon/ico-prev.png") 50% 50% / auto 20px no-repeat;
    position: absolute;
    left: 17%;
    top: 37%;
  }
  .swiper_btn_next{
    background: url("/src/assets/icon/ico-prev.png") 50% 50% / auto 20px no-repeat;
    position: absolute;
    transform: scaleX(-1);
    left: 79%;
    top: 37%;
  }
}
.btn_prev {
  background: url("/src/assets/icon/ico-prev.png") 50% 50% / auto 20px no-repeat;
  border: none;
}
.btn_next {
  //background: url("") no-repeat;
}
.btn_search {
  background: url("/src/assets/icon/ico-search.png") 50% 50% / auto 20px
    no-repeat;
  border: none;
}
.btn_all_menu {
  background: url("/src/assets/icon/ico-all-menu.png") 50% 50% / auto 20px
    no-repeat;
  border: none;
}

// … 버튼 관련 include
// - 믹스인
// - 플레이스홀더
// - 함수

/**
* 버튼
*/
