@mixin nav-container() {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  li {
    padding: 0 10px;
  }
  li:hover {
    background: lightgreen;
  }
}

.nav-box {
  @include nav-container();
}
.main_quick_menu{
  padding: 23px 0;
  @include nav-container();
}
.top_inside {
}

