@mixin nav-container($display : inline-flex) {
  display: $display;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.nav-box {
  @include nav-container();
  li {
    padding: 0 10px;
  }
  li:hover {
    border-bottom: #4868e1 2px solid;
  }
}
.ly_inner{
  padding: 40px 0;
  width: 100%;
  .icon_list{
    @include nav-container($display : flex);
    flex-wrap: wrap;
    height: auto;
    li{
      display: block;
      margin-top: 50px;
      padding: 8px 0;
      width: 25%;
      .icon_box{
        background-size: 30px auto;
        background-position: center 15px;
        padding-top : 50px;
      }
    }
    .icon_name{
      padding: 54px 0 0;
    }
  }
}
.top_inside {
}

