@mixin nav-container() {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  li {
    padding: 0 10px;
  }
  li:hover {

    border-bottom: #4868e1 2px solid;
  }
}

.nav-box {
  @include nav-container();
}
.main_quick_menu{
  padding: 23px 0;
  width: 100%;
  @include nav-container();
  .menu_list{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: -16px 0;
    padding-bottom: 13px;
    li{
      display: inline-block;
      width: 22%;
    }
  }
}
.top_inside {
}

